flows/Account_Picklist_Update_from_Opportunity_Picklist.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ActiveValue</name>
        <label>ActiveValue</label>
        <locationX>205</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>CurrentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActiveAccountPicklistValue.Prior_Vendors__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Picklist_Is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Picklist_Values</name>
        <label>Add to Picklist Values</label>
        <locationX>428</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>CurrentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityPicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_to_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_or_Existing_Value</name>
        <label>New or Existing Value?</label>
        <locationX>205</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Add_to_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Value</defaultConnectorLabel>
        <rules>
            <name>Value_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OpportunityPicklistValue</elementReference>
                </rightValue>
            </conditions>
            <label>Value Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Picklist_Is_Null</name>
        <label>Opp Picklist Is Null</label>
        <locationX>427</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Prior Vendors Not Null</defaultConnectorLabel>
        <rules>
            <name>Opp_Prior_Vendors_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityPicklistValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Opp Prior Vendors Null</label>
        </rules>
    </decisions>
    <description>Updates the Account Prior Vendors picklist from the Prior Vendor values on the associated Opportunities.  Rolls up Prior Vendors to the Account level.  For ReferenceEdge reporting.</description>
    <interviewLabel>Account Picklist Update from Opportunity Picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Picklist Update from Opportunity Picklist</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_picklist_values</name>
        <label>Account picklist values</label>
        <locationX>203</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActiveValue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ActiveAccountPicklistValue</outputReference>
        <queriedFields>Prior_Vendors__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Write_to_Account</name>
        <label>Write to Account</label>
        <locationX>431</locationX>
        <locationY>465</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prior_Vendors__c</field>
            <value>
                <elementReference>CurrentValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Account_picklist_values</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActiveAccountPicklistValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>RefEdge - The active values for the Prior Vendors field.  Pulled from the prior vendors on linked Opportunities.</description>
        <name>ActiveAccountPriorVendorValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
