flows/Acknowledge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>MessageName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>M1</stringValue>
        </value>
    </constants>
    <constants>
        <name>UserLogin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User Login</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsUserAcknowledge</name>
        <label>IsUserAcknowledge</label>
        <locationX>507</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotAcknowledgedCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChkUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AckScreen</targetReference>
            </connector>
            <label>Not Acknowledged</label>
        </rules>
    </decisions>
    <formulas>
        <name>AcknowledgementName</name>
        <dataType>String</dataType>
        <expression>&apos;M7-&apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Acknowledgement Login Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acknowledgement Login Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAcknowledgement</name>
        <label>Create Acknowledgement</label>
        <locationX>504</locationX>
        <locationY>446</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AcknowledgementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005U0000000ge2X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Message__c</field>
            <value>
                <elementReference>MessageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Message_User_Info__c</object>
    </recordCreates>
    <recordLookups>
        <name>ChkUser</name>
        <label>ChkUser</label>
        <locationX>508</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsUserAcknowledge</targetReference>
        </connector>
        <filters>
            <field>Parent_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessageId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>Flow_Message_User_Info__c</object>
        <outputAssignments>
            <assignToReference>LoginFlowId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Flow_Record_type_Id</name>
        <label>Flow Record type Id</label>
        <locationX>192</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAcknowledgement</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Acknowledgement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Message_User_Info__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMessage</name>
        <label>GetMessage</label>
        <locationX>180</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChkUser</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M7</stringValue>
            </value>
        </filters>
        <object>Flow_Message_User_Info__c</object>
        <outputAssignments>
            <assignToReference>MessageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Message</assignToReference>
            <field>Message__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AckScreen</name>
        <label>AckScreen</label>
        <locationX>189</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Record_type_Id</targetReference>
        </connector>
        <fields>
            <name>DisplayMessag</name>
            <fieldText>{!Message}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acknowlege</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Acknowlege</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Acknowledgement required to proceed.</errorMessage>
                <formulaExpression>{!Acknowlege}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetMessage</startElementReference>
    <status>Active</status>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
