flows/AppFoundry_CCDB_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_CCDB_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Send Mail</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Subscription__c.AppFoundry_CCDB_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>AF CCDB == Cancelled</label>
        </rules>
    </decisions>
    <description>Send an email to AppFoundry alias when specific criteria around CCDB cancellations is met.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
ISCHANGED([Subscription__c].Status__c) &amp;&amp;
ISPICKVAL(PRIORVALUE([Subscription__c].Status__c),&quot;Active&quot;) &amp;&amp; ISPICKVAL([Subscription__c].Status__c,&quot;Cancelled&quot;)) 
&amp;&amp;
[Subscription__c].Platform_Type__c = &apos;Cloud&apos; 
&amp;&amp;
[Subscription__c].Quote__c.PrimQuoteHasAppFoundry__c = true
&amp;&amp;
(
(
NOT(CONTAINS($Profile.Name,&quot;Updates&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;.com&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;MDM Admin&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;g360&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;API&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;User&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;Integration&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name, &apos;System Admin&apos;)) &amp;&amp;
NOT(CONTAINS($Profile.Name, &apos;Data Admin&apos;))
)
||
$User.Full_Name__c == &apos;Liam Clifford&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(
ISCHANGED({!myVariable_current.Status__c}) &amp;&amp;
ISPICKVAL(PRIORVALUE({!myVariable_current.Status__c}),&quot;Active&quot;) &amp;&amp; ISPICKVAL({!myVariable_current.Status__c},&quot;Cancelled&quot;)) 
&amp;&amp;
{!myVariable_current.Platform_Type__c} = &apos;Cloud&apos; 
&amp;&amp;
{!myVariable_current.Quote__c.PrimQuoteHasAppFoundry__c} = true
&amp;&amp;
(
(
NOT(CONTAINS($Profile.Name,&quot;Updates&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;.com&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;MDM Admin&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;g360&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;API&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;User&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name,&quot;Integration&quot;)) &amp;&amp;
NOT(CONTAINS($Profile.Name, &apos;System Admin&apos;)) &amp;&amp;
NOT(CONTAINS($Profile.Name, &apos;Data Admin&apos;))
)
||
$User.Full_Name__c == &apos;Liam Clifford&apos;)</expression>
    </formulas>
    <interviewLabel>AppFoundry_CCDB_Notification-1_InterviewLabel</interviewLabel>
    <label>AppFoundry CCDB Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Subscription__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Subscription__c].Quote</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Modify Quote</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CCDB Cancellation Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>CCDB_Cancellation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BigMachines__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Subscription__c].Quote</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Modify Quote to Orig</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CCDB Cancellation Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>CCDB_Cancellation_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BigMachines__Quote__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
</Flow>
