flows/AppFoundry_Partner_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_LivePro</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>send email</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_LivePro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Miles_33</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>send email</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Miles_33</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision13</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_OCCAM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>send email</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_OCCAM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision15</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Outleads</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>send email</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Outleads</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision17</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Advatel</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>send email</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Advatel</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision19</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Call_Journey</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_20_A1</name>
        <label>send email</label>
        <locationX>2000</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Call_Journey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision21</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Embrava</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>send email</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Embrava</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision23</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_eMite</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>send email</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_eMite</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision25</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Empirix</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_26_A1</name>
        <label>send email</label>
        <locationX>2600</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Empirix</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision27</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Ideal_Systems_Mobile_Office</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_28_A1</name>
        <label>send email</label>
        <locationX>2800</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Ideal_Systems_Mobile_Office</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision29</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_nGuvu</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_30_A1</name>
        <label>send email</label>
        <locationX>3000</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_nGuvu</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision31</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_PureInsights</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_32_A1</name>
        <label>send email</label>
        <locationX>3200</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_PureInsights</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision33</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Survey_Dynamix</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_34_A1</name>
        <label>send email</label>
        <locationX>3400</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Survey_Dynamix</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision35</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Voci</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_36_A1</name>
        <label>send email</label>
        <locationX>3600</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Voci</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision37</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Aria</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_38_A1</name>
        <label>send email</label>
        <locationX>3800</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Aria</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision39</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Softphone</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_40_A1</name>
        <label>send email</label>
        <locationX>4000</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Softphone</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision41</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_VideoEngager_Smart_Video</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_42_A1</name>
        <label>send email</label>
        <locationX>4200</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_VideoEngager_Smart_Video</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision43</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Brightmetrics</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_44_A1</name>
        <label>send email</label>
        <locationX>4400</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Brightmetrics</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision45</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Dashbot_ai</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_46_A1</name>
        <label>send email</label>
        <locationX>4600</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Dashbot_ai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision47</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Gemshelf</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_48_A1</name>
        <label>send email</label>
        <locationX>4800</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Gemshelf</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision49</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_CR_X</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>send email</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_CR_X</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Observe_ai</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_50_A1</name>
        <label>send email</label>
        <locationX>5000</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Observe_ai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision51</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Smoke_CI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_52_A1</name>
        <label>send email</label>
        <locationX>5200</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Smoke_CI</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Avtex</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>send email</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Avtex</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AppFoundry_Email_Cobrowse_io</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>send email</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <actionName>Subscription_Product__c.AppFoundry_Email_Cobrowse_io</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Batch Class Check</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Miles 33</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>OCCAM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>Outleads</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>Advatel</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision19</name>
        <label>myDecision19</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>Call Journey</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>Embrava</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>eMite</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision25</name>
        <label>myDecision25</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>Empirix</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision27</name>
        <label>myDecision27</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_28</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>Ideal Systems / Mobile Office</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision29</name>
        <label>myDecision29</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>nGuvu</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>CR-X</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision31</name>
        <label>myDecision31</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_32</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_32_A1</targetReference>
            </connector>
            <label>PureInsights</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision33</name>
        <label>myDecision33</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_34</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_34</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_34_A1</targetReference>
            </connector>
            <label>Survey Dynamix</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision35</name>
        <label>myDecision35</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_36</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_36</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_36_A1</targetReference>
            </connector>
            <label>Voci</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision37</name>
        <label>myDecision37</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_38</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_38</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_38_A1</targetReference>
            </connector>
            <label>Aria</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision39</name>
        <label>myDecision39</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision41</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_40</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_40_A1</targetReference>
            </connector>
            <label>Softphone</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision41</name>
        <label>myDecision41</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision43</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_42</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_42</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_42_A1</targetReference>
            </connector>
            <label>VideoEngager/ Smart Video</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision43</name>
        <label>myDecision43</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision45</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_44</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_44</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_44_A1</targetReference>
            </connector>
            <label>Brightmetrics</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision45</name>
        <label>myDecision45</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_46</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_46</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_46_A1</targetReference>
            </connector>
            <label>Dashbot.ai</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision47</name>
        <label>myDecision47</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision49</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_48</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_48</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_48_A1</targetReference>
            </connector>
            <label>Gemshelf</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision49</name>
        <label>myDecision49</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision51</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_50</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_50_A1</targetReference>
            </connector>
            <label>Observe.ai</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Avtex</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision51</name>
        <label>myDecision51</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_52</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_52</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_52_A1</targetReference>
            </connector>
            <label>Smoke CI</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Cobrowse.io</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>LivePro</label>
        </rules>
    </decisions>
    <description>The purpose of this notification is to send out individual notifications to each Appfoundry partner when a new CCDB is created AN has Appfoundry APN Number.is cread</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Subscription_Product__c].Play__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1132477462</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Play__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.Full_Name__c == &apos;Rony Joseph&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>$User.Full_Name__c == &apos;Rony Joseph&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;LIVEPRO&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;LIVEPRO&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;MILEGEM&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;MILEGEM&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;OCCAM&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;OCCAM&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PC-170-NV-OUT&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PC-170-NV-OUT&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCATO&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCATO&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCCJEV&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_20</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCCJEV&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCEMBR&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCEMBR&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCEMITE&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCEMITE&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCEMPR&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_26</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCEMPR&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCMOBO&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCMOBO&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCNGUVU&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_30</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCNGUVU&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCPUREIN&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_32</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCPUREIN&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCSUDX&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_34</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCSUDX&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCVOCI&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_36</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCVOCI&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCWFM&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_38</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCWFM&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;CRX&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;CRX&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PC-170-NV-SFT&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_40</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PC-170-NV-SFT&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PC-170-NV-VESMA&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_42</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PC-170-NV-VESMA&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCBRIMETR&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_44</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCBRIMETR&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;DASHBOT&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_46</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;DASHBOT&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCAFS-170-NV-SHELF&quot;)
||
CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCAFP-170-NV-SHELF&quot;))
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_48</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.APN_Number__c},&quot;PCAFS-170-NV-SHELF&quot;)
||
CONTAINS({!myVariable_current.APN_Number__c},&quot;PCAFP-170-NV-SHELF&quot;))
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;OBSAIENT&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_50</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;OBSAIENT&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;PCSMOKECI&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_52</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;PCSMOKECI&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;AVTEX&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;AVTEX&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS([Subscription_Product__c].APN_Number__c,&quot;COBROWSEIO&quot;)
&amp;&amp;
[Subscription_Product__c].Subscription__c.Account__c.Test_Account_Indication__c = false
&amp;&amp;
NOT(ISNULL([Subscription_Product__c].Subscription__c.Opportunity_LookUp__c))
&amp;&amp;
ISPICKVAL([Subscription_Product__c].Subscription__c.Status__c ,&quot;Active&quot;) 
&amp;&amp; 
(ABS([Subscription_Product__c].Quantity_Change__c) &gt; 0
||
(ISBLANK([Subscription_Product__c].Subscription__c.Org_Id__c) &amp;&amp; ISBLANK([Subscription_Product__c].Subscription__c.Amendment_For__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!myVariable_current.APN_Number__c},&quot;COBROWSEIO&quot;)
&amp;&amp;
{!myVariable_current.Subscription__r.Account__r.Test_Account_Indication__c} = false
&amp;&amp;
NOT(ISNULL({!myVariable_current.Subscription__r.Opportunity_LookUp__c}))
&amp;&amp;
ISPICKVAL({!myVariable_current.Subscription__r.Status__c} ,&quot;Active&quot;) 
&amp;&amp; 
(ABS({!myVariable_current.Quantity_Change__c}) &gt; 0
||
(ISBLANK({!myVariable_current.Subscription__r.Org_Id__c}) &amp;&amp; ISBLANK({!myVariable_current.Subscription__r.Amendment_For__c})))</expression>
    </formulas>
    <interviewLabel>AppFoundry_Partner_Notification-8_InterviewLabel</interviewLabel>
    <label>AppFoundry Partner Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Subscription_Product__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Subscription_Product__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>do nothing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Play</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Play__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1132477462</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Product__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Product__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Product__c</objectType>
    </variables>
</Flow>
