flows/Assign_Contact_to_RR_Team.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>RRTeams</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RR_Team__c</object>
        <outputAssignments>
            <assignToReference>contact.RR_Team__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assign Contact to RR Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Contact to RR Team</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>253</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Inputs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_RR_Team</name>
        <label>Set RR Team</label>
        <locationX>254</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>256</locationX>
        <locationY>473</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This contact will now be reassigned using the selected RR Team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Inputs</name>
        <label>User Inputs</label>
        <locationX>253</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_RR_Team</targetReference>
        </connector>
        <fields>
            <name>Select_RR_Team</name>
            <choiceReferences>RRTeams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select RR Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
