flows/Case_Add_Public_Assessment_Support.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Post to Case</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Add Assessment Post</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CaseAddFeedItemInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>isPostPublic</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <name>isPublic</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Post Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>postBody</name>
            <value>
                <stringValue>Your case has entered the assessment stage and is now under review by a product support specialist. During this stage, the case will be reviewed for complexity, description clarity, and completeness of supporting data.  Once assessed, the case will be assigned to an appropriately skilled resource for further analysis and resolution.   Note: All support cases will go through the assessment process. This update is your indication that your case is actively being reviewed by a product support specialist. You may receive additional questions during the assessment phase in order to achieve better clarity of the issue, which will position the case for faster resolution.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Assessment Status Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>add Assessment Case FeedItem when case sub status set to Assessment in Progress</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT($User.Bypass_Triggers__c) &amp;&amp; NOT($User.BypassWorkflows__c) &amp;&amp;
TEXT([Case].Assignment_Status__c ) = &quot;Assessment in Progress&quot;  &amp;&amp;
[Case].First_Response_Provided__c = false &amp;&amp;
([Case].RecordType.DeveloperName = &quot;Genesys_Product_Case&quot; ||
[Case].RecordType.DeveloperName = &quot;Premises_Service_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Support_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Service_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Incident&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT($User.Bypass_Triggers__c) &amp;&amp; NOT($User.BypassWorkflows__c) &amp;&amp;
TEXT({!myVariable_current.Assignment_Status__c} ) = &quot;Assessment in Progress&quot;  &amp;&amp;
{!myVariable_current.First_Response_Provided__c} = false &amp;&amp;
({!myVariable_current.RecordType.DeveloperName} = &quot;Genesys_Product_Case&quot; ||
{!myVariable_current.RecordType.DeveloperName} = &quot;Premises_Service_Request&quot; ||
{!myVariable_current.RecordType.DeveloperName} = &quot;Genesys_Cloud_Support_Request&quot; ||
{!myVariable_current.RecordType.DeveloperName} = &quot;Genesys_Cloud_Service_Request&quot; ||
{!myVariable_current.RecordType.DeveloperName} = &quot;Genesys_Cloud_Incident&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT($User.Bypass_Triggers__c) &amp;&amp; NOT($User.BypassWorkflows__c) &amp;&amp;
TEXT([Case].Assignment_Status__c ) = &quot;Assessment in Progress&quot;  &amp;&amp;
[Case].First_Response_Provided__c = false &amp;&amp;
([Case].RecordType.DeveloperName = &quot;Genesys_Product_Case&quot; ||
[Case].RecordType.DeveloperName = &quot;Premises_Service_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Support_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Service_Request&quot; ||
[Case].RecordType.DeveloperName = &quot;Genesys_Cloud_Incident&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT($User.Bypass_Triggers__c) &amp;&amp; NOT($User.BypassWorkflows__c) &amp;&amp;
TEXT({!myVariable_old.Assignment_Status__c} ) = &quot;Assessment in Progress&quot;  &amp;&amp;
{!myVariable_old.First_Response_Provided__c} = false &amp;&amp;
({!myVariable_old.RecordType.DeveloperName} = &quot;Genesys_Product_Case&quot; ||
{!myVariable_old.RecordType.DeveloperName} = &quot;Premises_Service_Request&quot; ||
{!myVariable_old.RecordType.DeveloperName} = &quot;Genesys_Cloud_Support_Request&quot; ||
{!myVariable_old.RecordType.DeveloperName} = &quot;Genesys_Cloud_Service_Request&quot; ||
{!myVariable_old.RecordType.DeveloperName} = &quot;Genesys_Cloud_Incident&quot;)</expression>
    </formulas>
    <interviewLabel>Case_Add_Public_Assessment_Support-4_InterviewLabel</interviewLabel>
    <label>Case Add Public Assessment - Support</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
