flows/Closed_Opportunity_AppFoundry_Indication.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Criteria that will stop process</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Does QP have AppFoundry Part?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>When a new primary quote is created AND has AppFoundry parts THEN map TRUE into PrimQuoteHasAppFoundry__c (on opp)</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
NOT(CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.StageName),&quot;Closed&quot;))
&amp;&amp;
(
CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.ForecastStatus__c),&quot;Booked&quot;)
||
CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.ForecastStatus__c),&quot;Omitted&quot;)
)
)
||
NOT(ISCHANGED([BigMachines__Quote_Product__c].Related_To_Prim_Quote_Bln__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(
NOT(CONTAINS(TEXT({!myVariable_current.BigMachines__Quote__r.BigMachines__Opportunity__r.StageName}),&quot;Closed&quot;))
&amp;&amp;
(
CONTAINS(TEXT({!myVariable_current.BigMachines__Quote__r.BigMachines__Opportunity__r.ForecastStatus__c}),&quot;Booked&quot;)
||
CONTAINS(TEXT({!myVariable_current.BigMachines__Quote__r.BigMachines__Opportunity__r.ForecastStatus__c}),&quot;Omitted&quot;)
)
)
||
NOT(ISCHANGED({!myVariable_current.Related_To_Prim_Quote_Bln__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
NOT(CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.StageName),&quot;Closed&quot;))
&amp;&amp;
(
CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.ForecastStatus__c),&quot;Booked&quot;)
||
CONTAINS(TEXT([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__r.ForecastStatus__c),&quot;Omitted&quot;)
)
)
||
NOT(ISCHANGED([BigMachines__Quote_Product__c].Related_To_Prim_Quote_Bln__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
NOT(CONTAINS(TEXT({!myVariable_old.BigMachines__Quote__r.BigMachines__Opportunity__r.StageName}),&quot;Closed&quot;))
&amp;&amp;
(
CONTAINS(TEXT({!myVariable_old.BigMachines__Quote__r.BigMachines__Opportunity__r.ForecastStatus__c}),&quot;Booked&quot;)
||
CONTAINS(TEXT({!myVariable_old.BigMachines__Quote__r.BigMachines__Opportunity__r.ForecastStatus__c}),&quot;Omitted&quot;)
)
)
||
NOT(ISCHANGED({!myVariable_old.Related_To_Prim_Quote_Bln__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BigMachines__Quote_Product__c].BigMachines__Product__c.RecordType.Name == &apos;Cloud&apos; 
&amp;&amp;
[BigMachines__Quote_Product__c].Type__c == &apos;AppFoundry&apos; 
&amp;&amp;
CONTAINS([BigMachines__Quote_Product__c].BigMachines__Product__c.Sub_Category__c,&apos;AppFo&apos;) 
&amp;&amp;
[BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Is_Primary__c == True 
&amp;&amp;
[BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__c.RecordType.Name == &apos;GEN - Opportunity Record Type&apos; 
&amp;&amp;
NOT(ISPICKVAL([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__c.StageName, &apos;8.Renewal&apos; ))  
&amp;&amp;
ISCHANGED([BigMachines__Quote_Product__c].Related_To_Prim_Quote_Bln__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.BigMachines__Product__r.RecordType.Name} == &apos;Cloud&apos; 
&amp;&amp;
{!myVariable_current.Type__c} == &apos;AppFoundry&apos; 
&amp;&amp;
CONTAINS({!myVariable_current.BigMachines__Product__r.Sub_Category__c},&apos;AppFo&apos;) 
&amp;&amp;
{!myVariable_current.BigMachines__Quote__r.BigMachines__Is_Primary__c} == True 
&amp;&amp;
{!myVariable_current.BigMachines__Quote__r.BigMachines__Opportunity__r.RecordType.Name} == &apos;GEN - Opportunity Record Type&apos; 
&amp;&amp;
NOT(ISPICKVAL({!myVariable_current.BigMachines__Quote__r.BigMachines__Opportunity__r.StageName}, &apos;8.Renewal&apos; ))  
&amp;&amp;
ISCHANGED({!myVariable_current.Related_To_Prim_Quote_Bln__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[BigMachines__Quote_Product__c].BigMachines__Product__c.RecordType.Name == &apos;Cloud&apos; 
&amp;&amp;
[BigMachines__Quote_Product__c].Type__c == &apos;AppFoundry&apos; 
&amp;&amp;
CONTAINS([BigMachines__Quote_Product__c].BigMachines__Product__c.Sub_Category__c,&apos;AppFo&apos;) 
&amp;&amp;
[BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Is_Primary__c == True 
&amp;&amp;
[BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__c.RecordType.Name == &apos;GEN - Opportunity Record Type&apos; 
&amp;&amp;
NOT(ISPICKVAL([BigMachines__Quote_Product__c].BigMachines__Quote__c.BigMachines__Opportunity__c.StageName, &apos;8.Renewal&apos; ))  
&amp;&amp;
ISCHANGED([BigMachines__Quote_Product__c].Related_To_Prim_Quote_Bln__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.BigMachines__Product__r.RecordType.Name} == &apos;Cloud&apos; 
&amp;&amp;
{!myVariable_old.Type__c} == &apos;AppFoundry&apos; 
&amp;&amp;
CONTAINS({!myVariable_old.BigMachines__Product__r.Sub_Category__c},&apos;AppFo&apos;) 
&amp;&amp;
{!myVariable_old.BigMachines__Quote__r.BigMachines__Is_Primary__c} == True 
&amp;&amp;
{!myVariable_old.BigMachines__Quote__r.BigMachines__Opportunity__r.RecordType.Name} == &apos;GEN - Opportunity Record Type&apos; 
&amp;&amp;
NOT(ISPICKVAL({!myVariable_old.BigMachines__Quote__r.BigMachines__Opportunity__r.StageName}, &apos;8.Renewal&apos; ))  
&amp;&amp;
ISCHANGED({!myVariable_old.Related_To_Prim_Quote_Bln__c})</expression>
    </formulas>
    <interviewLabel>Closed_Opportunity_AppFoundry_Indication-2_InterviewLabel</interviewLabel>
    <label>AF - Opp: Prim Quote has AppFoundry Bln</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BigMachines__Quote_Product__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BigMachines__Quote_Product__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>do nothing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>18 Digit ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>X18_Digit_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To Prim Quote Bln</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Related_To_Prim_Quote_Bln__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>BigMachines__Quote_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BigMachines__Quote_Product__c].Quote</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Boolean Quote Field Mapping</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.BigMachines__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PrimQuoteHasAppFoundry</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>PrimQuoteHasAppFoundry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BigMachines__Quote__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BigMachines__Quote_Product__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BigMachines__Quote_Product__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
