flows/Contact_Transfer_to_ININ_Salesforce.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_lead_to_contact</name>
        <label>Add lead to contact</label>
        <locationX>460</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>contact.ININ_Lead_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Text</name>
        <label>Assign Error Text</label>
        <locationX>640</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>fieldRequiredErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an ININ Sales Owner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Inputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lead_values</name>
        <label>Assign lead values</label>
        <locationX>459</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>leadToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.InIn_Sales_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ININ_Sales_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Inin_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ININ_Opportunity_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Inin_Opportunity_RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ININ_Opportunity_RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.InInPureCloudOrgId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ININ_PureCloud_Org_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Systemstobeaddedreplaced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Systems_to_be_added_replaced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.IntegrationInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Integration_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Push_to_InIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.GeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Authority_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Authority_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.BudgetComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Budget_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.Need_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Need_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToCreate.TimingComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Timing_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_Cotact</name>
        <label>Set Error No Cotact</label>
        <locationX>14</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>contactErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoContactStatic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Not_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_Country</name>
        <label>Set Error No Country</label>
        <locationX>136</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>contactErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoCountryStatic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Not_Valid</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameA</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameB</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameC</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameD</name>
        <choiceText>D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameE</name>
        <choiceText>E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameF</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameG</name>
        <choiceText>G</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameH</name>
        <choiceText>H</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameI</name>
        <choiceText>I</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameJ</name>
        <choiceText>J</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>J</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameK</name>
        <choiceText>K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameL</name>
        <choiceText>L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameM</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameN</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameO</name>
        <choiceText>O</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameP</name>
        <choiceText>P</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameQ</name>
        <choiceText>Q</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameR</name>
        <choiceText>R</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameS</name>
        <choiceText>S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameT</name>
        <choiceText>T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameU</name>
        <choiceText>U</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>U</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameV</name>
        <choiceText>V</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameW</name>
        <choiceText>W</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameX</name>
        <choiceText>X</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameY</name>
        <choiceText>Y</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastNameZ</name>
        <choiceText>Z</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z</stringValue>
        </value>
    </choices>
    <constants>
        <name>JobFamilyStatic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Interactive</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoContactStatic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A contact was not found for the ID provided.  If you believe you are getting this message in error, please contact the help desk.</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoCountryStatic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A country value was not found for the contact you are attempting to transfer.  Please assign a country value to the contact and retry this operation.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Already_Converted</name>
        <label>Already Converted?</label>
        <locationX>259</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>ININ_Sales_Owner_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Already_Converted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.ININ_Lead_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ININ_Sales_User_Selected</name>
        <label>ININ Sales User Selected?</label>
        <locationX>459</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ININ_Sales_User_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ININ_Sales_Owner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Contact</name>
        <label>Valid Contact?</label>
        <locationX>119</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Already_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_No_Cotact</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
        <rules>
            <name>No_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_No_Country</targetReference>
            </connector>
            <label>No Country</label>
        </rules>
    </decisions>
    <description>Flow to create a lead from a contact and initiate the transfer of the lead to the ININ Salesforce Organization.</description>
    <dynamicChoiceSets>
        <name>ININ_Opp_RecordType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inin_Opportunity_RecordType__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ININ_Opp_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inin_Opportunity_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ININ_Sales_Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>EmployeeNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Last_Name_Begins_With</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IntegrationInterest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IntegrationInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SystemsToBeAddededReplaced</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Systemstobeaddedreplaced__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>LastNameFilter</name>
        <dataType>String</dataType>
        <expression>{!Last_Name_Begins_With} + &apos;%&apos;</expression>
    </formulas>
    <interviewLabel>Contact Transfer to ININ Salesforce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Transfer to ININ Salesforce</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>459</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Add_lead_to_contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>leadToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>118</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>117</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingGeocodeAccuracy</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ININ_Lead_Conversion__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Budget_Comments__c</queriedFields>
        <queriedFields>Authority_Comments__c</queriedFields>
        <queriedFields>Need_Comments__c</queriedFields>
        <queriedFields>Timing_Comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>461</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>SuccessMesage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Not_Valid</name>
        <label>Contact Not Valid</label>
        <locationX>80</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContactFoundMessage</name>
            <fieldText>{!contactErrorText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>705</locationX>
        <locationY>498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>An error occurred attempting to perform this operation.

Error message: {!$Flow.FaultMessage}

Please try your attempt again after correcting the error(s) above, or contact the help desk for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ININ_Sales_Owner_Filter</name>
        <label>ININ Sales Owner Filter</label>
        <locationX>458</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Inputs</targetReference>
        </connector>
        <fields>
            <name>FilterLastNameText</name>
            <fieldText>Please select the first letter of the last name of the ININ Sales User you are transferring this record to.  This will filter the user list presented to you on the following screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name_Begins_With</name>
            <choiceReferences>LastNameA</choiceReferences>
            <choiceReferences>LastNameB</choiceReferences>
            <choiceReferences>LastNameC</choiceReferences>
            <choiceReferences>LastNameD</choiceReferences>
            <choiceReferences>LastNameE</choiceReferences>
            <choiceReferences>LastNameF</choiceReferences>
            <choiceReferences>LastNameG</choiceReferences>
            <choiceReferences>LastNameH</choiceReferences>
            <choiceReferences>LastNameI</choiceReferences>
            <choiceReferences>LastNameJ</choiceReferences>
            <choiceReferences>LastNameK</choiceReferences>
            <choiceReferences>LastNameL</choiceReferences>
            <choiceReferences>LastNameM</choiceReferences>
            <choiceReferences>LastNameN</choiceReferences>
            <choiceReferences>LastNameO</choiceReferences>
            <choiceReferences>LastNameP</choiceReferences>
            <choiceReferences>LastNameQ</choiceReferences>
            <choiceReferences>LastNameR</choiceReferences>
            <choiceReferences>LastNameS</choiceReferences>
            <choiceReferences>LastNameT</choiceReferences>
            <choiceReferences>LastNameU</choiceReferences>
            <choiceReferences>LastNameV</choiceReferences>
            <choiceReferences>LastNameW</choiceReferences>
            <choiceReferences>LastNameX</choiceReferences>
            <choiceReferences>LastNameY</choiceReferences>
            <choiceReferences>LastNameZ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Last Name Begins With</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted</name>
        <label>Lead Converted</label>
        <locationX>259</locationX>
        <locationY>468</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadConvertedText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This contact has already been sent to the ININ Salesforce Organization.  You can access the related record IDs from the lead object &lt;A HREF=&quot;/{!contact.ININ_Lead_Conversion__c}&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMesage</name>
        <label>SuccessMesage</label>
        <locationX>705</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your lead has been successfully created.  Please access the new lead record &lt;A HREF=&quot;/{!leadToCreate.Id}&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Inputs</name>
        <label>User Inputs</label>
        <locationX>459</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ININ_Sales_User_Selected</targetReference>
        </connector>
        <fields>
            <name>InfoRequestMessage</name>
            <fieldText>In order for this contact to be transferred to the ININ Salesforce, please fill out the fields below.

When finished, click the &quot;Next&quot; button to initiate the transfer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ININ_Sales_Owner</name>
            <choiceReferences>Choice_None</choiceReferences>
            <choiceReferences>ININ_Sales_Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ININ Sales Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FieldRequiredError</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;                                                             {!fieldRequiredErrorText}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ININ_Opportunity_Type</name>
            <choiceReferences>ININ_Opp_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ININ Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ININ_Opportunity_RecordType</name>
            <choiceReferences>ININ_Opp_RecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ININ Opportunity RecordType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ININ_PureCloud_Org_Id</name>
            <dataType>String</dataType>
            <fieldText>ININ PureCloud Org Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Systems_to_be_added_replaced</name>
            <choiceReferences>SystemsToBeAddededReplaced</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Systems to be added/replaced</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Integration_Interest</name>
            <choiceReferences>Choice_None</choiceReferences>
            <choiceReferences>IntegrationInterest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Integration Interest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldRequiredErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
