flows/Gong_User_Mapping_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Determine is var is null or is not null</description>
        <name>GongUserToMapDecision</name>
        <label>GongUserToMapDecision</label>
        <locationX>1000</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GongUserToMapNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GongUserToMap</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Gong_Conversation_Record</targetReference>
            </connector>
            <label>GongUserToMapNotNull</label>
        </rules>
        <rules>
            <name>GongUserToMapIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GongUserToMap</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>GongUserToMapIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if var is null or is not null</description>
        <name>InitialGongUserCheckDecision</name>
        <label>InitialGongUserCheckDecision</label>
        <locationX>1002</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitialGongUserCheckNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialGongUserCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
            </connector>
            <label>InitialGongUserCheckNotNull</label>
        </rules>
        <rules>
            <name>InitialGongUserCheckIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialGongUserCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>InitialGongUserCheckIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_primary_user_in_gong_permission_set</name>
        <label>is primary user in gong permission set?</label>
        <locationX>325</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gong_user_is_already_in_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryUserCheckOutcome.AssigneeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConversationOwnerUpdate</targetReference>
            </connector>
            <label>Gong user is already in permission set</label>
        </rules>
        <rules>
            <name>Gong_user_is_not_in_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryUserCheckOutcome.AssigneeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParticipantRecords</targetReference>
            </connector>
            <label>Gong user is not in permission set</label>
        </rules>
    </decisions>
    <interviewLabel>Gong User Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gong User Mapping Flow</label>
    <loops>
        <name>Loop_Through_Internal_Gong_Participants</name>
        <label>Loop Through Internal Gong Participants</label>
        <locationX>757</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>LoopThroughInternalGongParticipants</assignNextValueToReference>
        <collectionReference>GetInternalUsersFromGongCall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsersInPermissionSet</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_to_determine_Gong_user_to_be_mapped</name>
        <label>Loop through to determine Gong user to be mapped</label>
        <locationX>759</locationX>
        <locationY>391</locationY>
        <assignNextValueToReference>LoopThroughInitialGongUserList</assignNextValueToReference>
        <collectionReference>InitialGongUserCheck</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreGongUserValueInTextVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_to_see_if_primary_user_is_in_permission_set_already</name>
        <label>Check to see if primary user is in permission set already</label>
        <locationX>35</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_primary_user_in_gong_permission_set</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryUserFromGongConversation.Gong__Primary_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PrimaryUserCheckOutcome.AssigneeId</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getParticipantRecords</name>
        <label>getParticipantRecords</label>
        <locationX>572</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </connector>
        <filters>
            <field>Gong__Affiliation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gong__Gong_Call__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <object>Gong__Call_Participant__c</object>
        <outputReference>GetInternalUsersFromGongCall</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gong__User_Participant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUsersInPermissionSet</name>
        <label>getUsersInPermissionSet</label>
        <locationX>1010</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitialGongUserCheckDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </faultConnector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughInternalGongParticipants.Gong__User_Participant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>InitialGongUserCheck</outputReference>
        <queriedFields>AssigneeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Primary_User</name>
        <label>Primary User</label>
        <locationX>34</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_to_see_if_primary_user_is_in_permission_set_already</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <object>Gong__Gong_Call__c</object>
        <outputReference>PrimaryUserFromGongConversation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gong__Primary_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>StoreGongUserValueInTextVariable</name>
        <label>StoreGongUserValueInTextVariable</label>
        <locationX>1010</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GongUserToMapDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
        </faultConnector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughInitialGongUserList.AssigneeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>GongUserToMap</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>since the primary user is in the gong permission set already, map them as the owner</description>
        <name>ConversationOwnerUpdate</name>
        <label>ConversationOwnerUpdate</label>
        <locationX>333</locationX>
        <locationY>570</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PrimaryUserCheckOutcome.AssigneeId</elementReference>
            </value>
        </inputAssignments>
        <object>Gong__Gong_Call__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Map User Value into the &apos;Primary User&apos; AND &apos;Owner&apos; Fields</description>
        <name>Update_Gong_Conversation_Record</name>
        <label>Update Gong Conversation Record</label>
        <locationX>759</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GongUserToMap</elementReference>
            </value>
        </inputAssignments>
        <object>Gong__Gong_Call__c</object>
    </recordUpdates>
    <startElementReference>Primary_User</startElementReference>
    <status>Active</status>
    <variables>
        <name>GetInternalUsersFromGongCall</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Call_Participant__c</objectType>
    </variables>
    <variables>
        <name>GongConversationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GongPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GongPermissionSetUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>This will be the salesforce user that gets mapped as the conversation record&apos;s Primary User + Owner</description>
        <name>GongUserToMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>InitialGongUserCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>LoopThroughInitialGongUserList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>LoopThroughInternalGongParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Call_Participant__c</objectType>
    </variables>
    <variables>
        <description>if null then primary user is not in permission set</description>
        <name>OutcomeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryUserCheckOutcome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PrimaryUserFromConversation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryUserFromGongConversation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Gong_Call__c</objectType>
    </variables>
</Flow>
