flows/Gong_User_Mapping_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Gong User Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gong User Mapping Flow</label>
    <loops>
        <name>Loop_Through_Internal_Gong_Participants</name>
        <label>Loop Through Internal Gong Participants</label>
        <locationX>757</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>LoopThroughInternalGongParticipants</assignNextValueToReference>
        <collectionReference>GetInternalUsersFromGongCall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsersInPermissionSet</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_to_determine_Gong_user_to_be_mapped</name>
        <label>Loop through to determine Gong user to be mapped</label>
        <locationX>883</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>LoopThroughInitialGongUserList</assignNextValueToReference>
        <collectionReference>InitialGongUserCheck</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreGongUserValueInTextVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getParticipantRecords</name>
        <label>getParticipantRecords</label>
        <locationX>573</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </connector>
        <filters>
            <field>Gong__Affiliation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gong__Gong_Call__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <object>Gong__Call_Participant__c</object>
        <outputReference>GetInternalUsersFromGongCall</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gong__User_Participant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUsersInPermissionSet</name>
        <label>getUsersInPermissionSet</label>
        <locationX>1010</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Through_Internal_Gong_Participants</targetReference>
        </faultConnector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughInternalGongParticipants.Gong__User_Participant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>InitialGongUserCheck</outputReference>
        <queriedFields>AssigneeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>StoreGongUserValueInTextVariable</name>
        <label>StoreGongUserValueInTextVariable</label>
        <locationX>1151</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Gong_Conversation_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
        </faultConnector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughInitialGongUserList.AssigneeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongPermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>GongUserToMap</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Map User Value into the &apos;Primary User&apos; AND &apos;Owner&apos; Fields</description>
        <name>Update_Gong_Conversation_Record</name>
        <label>Update Gong Conversation Record</label>
        <locationX>1017</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Loop_through_to_determine_Gong_user_to_be_mapped</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GongConversationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GongUserToMap</elementReference>
            </value>
        </inputAssignments>
        <object>Gong__Gong_Call__c</object>
    </recordUpdates>
    <startElementReference>getParticipantRecords</startElementReference>
    <status>Active</status>
    <variables>
        <name>GetInternalUsersFromGongCall</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Call_Participant__c</objectType>
    </variables>
    <variables>
        <name>GongConversationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GongPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This will be the salesforce user that gets mapped as the conversation record&apos;s Primary User + Owner</description>
        <name>GongUserToMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>InitialGongUserCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>LoopThroughInitialGongUserList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>LoopThroughInternalGongParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Gong__Call_Participant__c</objectType>
    </variables>
</Flow>
