flows/mapQuoteProduct.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>QuoteProductMappingOutcome</name>
        <label>QuoteProductMappingOutcome</label>
        <locationX>472</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteProductNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteProduct</targetReference>
            </connector>
            <label>QuoteProductNotNull</label>
        </rules>
        <rules>
            <name>QuoteProductIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>QuoteProductIsNull</label>
        </rules>
    </decisions>
    <description>If a primary quote has many appfoundry parts, this will map only 1 part. used in a process builder on the opportunity obj. created by liam.</description>
    <interviewLabel>mapQuoteProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mapQuoteProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPrimQuote</name>
        <label>getPrimQuote</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuoteProduct</targetReference>
        </connector>
        <filters>
            <field>ForecastStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0.Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>ForecastStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>6.Omitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000LrBPIA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>6.Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>PrimQuote</assignToReference>
            <field>Primary_Quote__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteProduct</name>
        <label>GetQuoteProduct</label>
        <locationX>333</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteProductMappingOutcome</targetReference>
        </connector>
        <filters>
            <field>BigMachines__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimQuote</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AppF</stringValue>
            </value>
        </filters>
        <object>BigMachines__Quote_Product__c</object>
        <outputAssignments>
            <assignToReference>QuoteProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateQuoteProduct</name>
        <label>updateQuoteProduct</label>
        <locationX>608</locationX>
        <locationY>295</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteProduct</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_To_Prim_Quote_Bln__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BigMachines__Quote_Product__c</object>
    </recordUpdates>
    <startElementReference>getPrimQuote</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
