flows/New_Marketing_Campaign.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Marketing Record Type</label>
        </rules>
    </decisions>
    <description>Process New Marketing Campaign</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT(CASE(1, 
  IF(ISBLANK([Campaign].Event_Date__c ), 0, 1) , YEAR([Campaign].Event_Date__c ), 
  IF(ISBLANK([Campaign].EndDate), 0, 1) , YEAR([Campaign].EndDate ), 
  IF(ISBLANK([Campaign].StartDate), 0, 1) , YEAR([Campaign].StartDate), 
  YEAR(DATEVALUE([Campaign].CreatedDate)) 
)) &amp; &quot;_&quot; &amp;

CASE(CASE(1, 
  IF(ISBLANK([Campaign].Event_Date__c ), 0, 1) , MONTH([Campaign].Event_Date__c ), 
  IF(ISBLANK([Campaign].EndDate), 0, 1) , MONTH([Campaign].EndDate), 
  IF(ISBLANK([Campaign].StartDate), 0, 1) , MONTH([Campaign].StartDate), 
  MONTH(DATEVALUE([Campaign].CreatedDate)) 
),
1, &quot;Q1&quot;,
2, &quot;Q1&quot;,
3, &quot;Q1&quot;,
4, &quot;Q2&quot;,
5, &quot;Q2&quot;,
6, &quot;Q2&quot;,
7, &quot;Q3&quot;,
8, &quot;Q3&quot;,
9, &quot;Q3&quot;,
10, &quot;Q4&quot;,
11, &quot;Q4&quot;,
12, &quot;Q4&quot;,
&quot;QX&quot;
) &amp; &quot;_&quot; &amp;
CASE(TEXT( [Campaign].Region__c ),
&quot;North America&quot;, &quot;NA&quot;,
&quot;&quot;, &quot;GLOBAL&quot;,
TEXT( [Campaign].Region__c ))  &amp; &quot;_&quot; &amp;
CASE(TEXT( [Campaign].SubType__c ),
&quot;Contact Us&quot;,&quot;CTUS&quot;,
&quot;Inbound Phone&quot;,&quot;IBPH&quot;,
&quot;AppFoundry&quot;,&quot;APPF&quot;,
&quot;Third Party&quot;,&quot;3P&quot;,
&quot;Third Party - Content Syndication&quot;,&quot;3PCSYN&quot;,
&quot;Email Subscription&quot;,&quot;EMSUB&quot;,
&quot;Gated Asset&quot;,&quot;GATE&quot;,
&quot;Conversica&quot;,&quot;CONVCA&quot;,
&quot;Booth at Genesys Event&quot;,&quot;BTH&quot;,
&quot;Booth at Third Party Event&quot;,&quot;BTH3P&quot;,
&quot;Genesys Event&quot;,&quot;EVT&quot;,
&quot;Session at Genesys Event&quot;,&quot;SESN&quot;,
&quot;Session at Third Party Event&quot;,&quot;SESN3P&quot;,
&quot;Webinar&quot;,&quot;WBR&quot;,
&quot;Workshop&quot;,&quot;WKSHP&quot;,
&quot;Free Trial&quot;,&quot;TRIAL&quot;,
&quot;Demo Request&quot;,&quot;DEMO&quot;,
&quot;Guided Tour&quot;,&quot;TOUR&quot;,
&quot;Simple List&quot;,&quot;LIST&quot;,
&quot;Third Party Event&quot;,&quot;3PEVT&quot;,
&quot;Third Party Webinar&quot;,&quot;3PWBR&quot;,
&quot;Third Party Content&quot;,&quot;3PCON&quot;,
&quot;Purchased List&quot;,&quot;PURCH&quot;,
&quot;Chat&quot;,&quot;CHAT&quot;,
&quot;Vendor Webinar&quot;,&quot;VWBR&quot;,
TEXT( [Campaign].SubType__c )) &amp; &quot;_&quot; &amp;
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( IF(ISBLANK([Campaign].Short_Name__c), [Campaign].Name,  [Campaign].Short_Name__c)  , &quot;_&quot;, &quot;&quot;)  , &quot; &quot;, &quot;&quot;)  , &quot;&apos;&quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3390831595</name>
        <dataType>String</dataType>
        <expression>TEXT(CASE(1, 
  IF(ISBLANK({!myVariable_current.Event_Date__c} ), 0, 1) , YEAR({!myVariable_current.Event_Date__c} ), 
  IF(ISBLANK({!myVariable_current.EndDate}), 0, 1) , YEAR({!myVariable_current.EndDate} ), 
  IF(ISBLANK({!myVariable_current.StartDate}), 0, 1) , YEAR({!myVariable_current.StartDate}), 
  YEAR(DATEVALUE({!myVariable_current.CreatedDate})) 
)) &amp; &quot;_&quot; &amp;

CASE(CASE(1, 
  IF(ISBLANK({!myVariable_current.Event_Date__c} ), 0, 1) , MONTH({!myVariable_current.Event_Date__c} ), 
  IF(ISBLANK({!myVariable_current.EndDate}), 0, 1) , MONTH({!myVariable_current.EndDate}), 
  IF(ISBLANK({!myVariable_current.StartDate}), 0, 1) , MONTH({!myVariable_current.StartDate}), 
  MONTH(DATEVALUE({!myVariable_current.CreatedDate})) 
),
1, &quot;Q1&quot;,
2, &quot;Q1&quot;,
3, &quot;Q1&quot;,
4, &quot;Q2&quot;,
5, &quot;Q2&quot;,
6, &quot;Q2&quot;,
7, &quot;Q3&quot;,
8, &quot;Q3&quot;,
9, &quot;Q3&quot;,
10, &quot;Q4&quot;,
11, &quot;Q4&quot;,
12, &quot;Q4&quot;,
&quot;QX&quot;
) &amp; &quot;_&quot; &amp;
CASE(TEXT( {!myVariable_current.Region__c} ),
&quot;North America&quot;, &quot;NA&quot;,
&quot;&quot;, &quot;GLOBAL&quot;,
TEXT( {!myVariable_current.Region__c} ))  &amp; &quot;_&quot; &amp;
CASE(TEXT( {!myVariable_current.SubType__c} ),
&quot;Contact Us&quot;,&quot;CTUS&quot;,
&quot;Inbound Phone&quot;,&quot;IBPH&quot;,
&quot;AppFoundry&quot;,&quot;APPF&quot;,
&quot;Third Party&quot;,&quot;3P&quot;,
&quot;Third Party - Content Syndication&quot;,&quot;3PCSYN&quot;,
&quot;Email Subscription&quot;,&quot;EMSUB&quot;,
&quot;Gated Asset&quot;,&quot;GATE&quot;,
&quot;Conversica&quot;,&quot;CONVCA&quot;,
&quot;Booth at Genesys Event&quot;,&quot;BTH&quot;,
&quot;Booth at Third Party Event&quot;,&quot;BTH3P&quot;,
&quot;Genesys Event&quot;,&quot;EVT&quot;,
&quot;Session at Genesys Event&quot;,&quot;SESN&quot;,
&quot;Session at Third Party Event&quot;,&quot;SESN3P&quot;,
&quot;Webinar&quot;,&quot;WBR&quot;,
&quot;Workshop&quot;,&quot;WKSHP&quot;,
&quot;Free Trial&quot;,&quot;TRIAL&quot;,
&quot;Demo Request&quot;,&quot;DEMO&quot;,
&quot;Guided Tour&quot;,&quot;TOUR&quot;,
&quot;Simple List&quot;,&quot;LIST&quot;,
&quot;Third Party Event&quot;,&quot;3PEVT&quot;,
&quot;Third Party Webinar&quot;,&quot;3PWBR&quot;,
&quot;Third Party Content&quot;,&quot;3PCON&quot;,
&quot;Purchased List&quot;,&quot;PURCH&quot;,
&quot;Chat&quot;,&quot;CHAT&quot;,
&quot;Vendor Webinar&quot;,&quot;VWBR&quot;,
TEXT( {!myVariable_current.SubType__c} )) &amp; &quot;_&quot; &amp;
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( IF(ISBLANK({!myVariable_current.Short_Name__c}), {!myVariable_current.Name},  {!myVariable_current.Short_Name__c})  , &quot;_&quot;, &quot;&quot;)  , &quot; &quot;, &quot;&quot;)  , &quot;&apos;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(ISBLANK([Campaign].Short_Name__c), [Campaign].Name,  [Campaign].Short_Name__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_7690354203</name>
        <dataType>String</dataType>
        <expression> IF(ISBLANK({!myVariable_current.Short_Name__c}), {!myVariable_current.Name},  {!myVariable_current.Short_Name__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(LEFT([Campaign].RecordType.Name, 5) == &quot;Offer&quot;, LEFT([Campaign].RecordType.Name, 5) == &quot;Admin&quot;),
OR(ISNEW() , [Campaign].Trigger_Auto_Name__c == TRUE)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(LEFT({!myVariable_current.RecordType.Name}, 5) == &quot;Offer&quot;, LEFT({!myVariable_current.RecordType.Name}, 5) == &quot;Admin&quot;),
OR(ISNEW() , {!myVariable_current.Trigger_Auto_Name__c} == TRUE)
)</expression>
    </formulas>
    <interviewLabel>New_Marketing_Campaign-25_InterviewLabel</interviewLabel>
    <label>New Marketing Campaign</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Campaign Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3390831595</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Short Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Short_Name__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_7690354203</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Trigger Auto-Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Trigger_Auto_Name__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
