flows/Opportunity_Expired_Opp_User_Field_Mapping.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Booked_Opportunity_Needing_to_be_closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Booked/Not Won</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Booked_Opportunity_Needing_to_be_closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Expired_Opportunity</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Expired Opportunity</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Expired_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Is Opp Booked but not Won?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Is Opp Expired?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()+7</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_0816110391</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()+7</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A2_7992871050</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISCHANGED([Opportunity].Booked_Opp_Not_Closed_Date_Sent__c) &amp;&amp;
[Opportunity].Booked_Opp_Not_Closed_Date_Sent__c== TODAY()) 
&amp;&amp;
ISBLANK(TEXT([Opportunity].Win_Loss_Status__c)) &amp;&amp;
ISPICKVAL([Opportunity].ForecastStatus__c,&quot;0.Booked&quot;)
&amp;&amp;
$User.BypassValidationRules__c == true
&amp;&amp;
[Opportunity].Owner.IsActive == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!myVariable_current.Booked_Opp_Not_Closed_Date_Sent__c}) &amp;&amp;
{!myVariable_current.Booked_Opp_Not_Closed_Date_Sent__c}== TODAY()) 
&amp;&amp;
ISBLANK(TEXT({!myVariable_current.Win_Loss_Status__c})) &amp;&amp;
ISPICKVAL({!myVariable_current.ForecastStatus__c},&quot;0.Booked&quot;)
&amp;&amp;
{!$User.BypassValidationRules__c} == true
&amp;&amp;
{!myVariable_current.Owner.IsActive} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISCHANGED([Opportunity].Booked_Opp_Not_Closed_Date_Sent__c) &amp;&amp;
[Opportunity].Booked_Opp_Not_Closed_Date_Sent__c== TODAY()) 
&amp;&amp;
ISBLANK(TEXT([Opportunity].Win_Loss_Status__c)) &amp;&amp;
ISPICKVAL([Opportunity].ForecastStatus__c,&quot;0.Booked&quot;)
&amp;&amp;
$User.BypassValidationRules__c == true
&amp;&amp;
[Opportunity].Owner.IsActive == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!myVariable_old.Booked_Opp_Not_Closed_Date_Sent__c}) &amp;&amp;
{!myVariable_old.Booked_Opp_Not_Closed_Date_Sent__c}== TODAY()) 
&amp;&amp;
ISBLANK(TEXT({!myVariable_old.Win_Loss_Status__c})) &amp;&amp;
ISPICKVAL({!myVariable_old.ForecastStatus__c},&quot;0.Booked&quot;)
&amp;&amp;
{!$User.BypassValidationRules__c} == true
&amp;&amp;
{!myVariable_old.Owner.IsActive} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISCHANGED([Opportunity].Expired_Deal_Date_Sent__c) &amp;&amp;
[Opportunity].Expired_Deal_Date_Sent__c == TODAY()) 
&amp;&amp;
(
[Opportunity].Pipeline_Validation_Flag__c == TRUE &amp;&amp;
[Opportunity].CloseDate &lt; Today()) &amp;&amp;
NOT(CONTAINS(TEXT([Opportunity].StageName),&quot;Closed&quot;))
&amp;&amp;
$User.BypassValidationRules__c == true
&amp;&amp;
[Opportunity].Owner.IsActive == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!myVariable_current.Expired_Deal_Date_Sent__c}) &amp;&amp;
{!myVariable_current.Expired_Deal_Date_Sent__c} == TODAY()) 
&amp;&amp;
(
{!myVariable_current.Pipeline_Validation_Flag__c} == TRUE &amp;&amp;
{!myVariable_current.CloseDate} &lt; Today()) &amp;&amp;
NOT(CONTAINS(TEXT({!myVariable_current.StageName}),&quot;Closed&quot;))
&amp;&amp;
{!$User.BypassValidationRules__c} == true
&amp;&amp;
{!myVariable_current.Owner.IsActive} == true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISCHANGED([Opportunity].Expired_Deal_Date_Sent__c) &amp;&amp;
[Opportunity].Expired_Deal_Date_Sent__c == TODAY()) 
&amp;&amp;
(
[Opportunity].Pipeline_Validation_Flag__c == TRUE &amp;&amp;
[Opportunity].CloseDate &lt; Today()) &amp;&amp;
NOT(CONTAINS(TEXT([Opportunity].StageName),&quot;Closed&quot;))
&amp;&amp;
$User.BypassValidationRules__c == true
&amp;&amp;
[Opportunity].Owner.IsActive == true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!myVariable_old.Expired_Deal_Date_Sent__c}) &amp;&amp;
{!myVariable_old.Expired_Deal_Date_Sent__c} == TODAY()) 
&amp;&amp;
(
{!myVariable_old.Pipeline_Validation_Flag__c} == TRUE &amp;&amp;
{!myVariable_old.CloseDate} &lt; Today()) &amp;&amp;
NOT(CONTAINS(TEXT({!myVariable_old.StageName}),&quot;Closed&quot;))
&amp;&amp;
{!$User.BypassValidationRules__c} == true
&amp;&amp;
{!myVariable_old.Owner.IsActive} == true</expression>
    </formulas>
    <interviewLabel>Opportunity_Expired_Opp_User_Field_Mapping-16_InterviewLabel</interviewLabel>
    <label>2 Opp Notification - Send Email + Map 7 Days Out</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Map 7 Days Out</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Booked Opp Not Closed - Date Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Booked_Opp_Not_Closed_Date_Sent__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_0816110391</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>Map 7 Days Out</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Expired Deal - Date Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Expired_Deal_Date_Sent__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A2_7992871050</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
