flows/PS_Opportunity_Approval_on_Close.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Set Opportunity Approval</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CreateOrUpdateOpportunityApproval</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>AssociatedOpportunityApprovalHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>oppIDs</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>oppIDs</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Check for PS Opp Closed and Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Process to create an opportunity approval on closure for PS Opportunities</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].IsConverted__c=TRUE &amp;&amp; AND(
[Opportunity].RecordType.Name = &apos;Professional Services&apos;,
ISPICKVAL([Opportunity].StageName, &apos;6.Closed&apos;), 
ISPICKVAL([Opportunity].Win_Loss_Status__c, &apos;Won&apos;),
ISPICKVAL([Opportunity].ForecastStatus__c,&apos;0.Booked&apos;),
ISCHANGED([Opportunity].PSA_Closed_OM_Oppty_Submit_Status__c) 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.IsConverted__c}=TRUE &amp;&amp; AND(
{!myVariable_current.RecordType.Name} = &apos;Professional Services&apos;,
ISPICKVAL({!myVariable_current.StageName}, &apos;6.Closed&apos;), 
ISPICKVAL({!myVariable_current.Win_Loss_Status__c}, &apos;Won&apos;),
ISPICKVAL({!myVariable_current.ForecastStatus__c},&apos;0.Booked&apos;),
ISCHANGED({!myVariable_current.PSA_Closed_OM_Oppty_Submit_Status__c}) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].IsConverted__c=TRUE &amp;&amp; AND(
[Opportunity].RecordType.Name = &apos;Professional Services&apos;,
ISPICKVAL([Opportunity].StageName, &apos;6.Closed&apos;), 
ISPICKVAL([Opportunity].Win_Loss_Status__c, &apos;Won&apos;),
ISPICKVAL([Opportunity].ForecastStatus__c,&apos;0.Booked&apos;),
ISCHANGED([Opportunity].PSA_Closed_OM_Oppty_Submit_Status__c) 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.IsConverted__c}=TRUE &amp;&amp; AND(
{!myVariable_old.RecordType.Name} = &apos;Professional Services&apos;,
ISPICKVAL({!myVariable_old.StageName}, &apos;6.Closed&apos;), 
ISPICKVAL({!myVariable_old.Win_Loss_Status__c}, &apos;Won&apos;),
ISPICKVAL({!myVariable_old.ForecastStatus__c},&apos;0.Booked&apos;),
ISCHANGED({!myVariable_old.PSA_Closed_OM_Oppty_Submit_Status__c}) 
)</expression>
    </formulas>
    <interviewLabel>PS_Opportunity_Approval_on_Close-2_InterviewLabel</interviewLabel>
    <label>PS Opportunity Approval on Close TEST</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
