flows/Update_Compensation_Uplift_V2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>calculate_uplift_compensation</name>
        <label>calculate uplift compensation</label>
        <locationX>670</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Totaluplift</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteProductObj.BigMachines__Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Product_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Used to decide if there is products to be updated.</description>
        <name>Quoteproductpresennce</name>
        <label>QuoteProductpresence</label>
        <locationX>144</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteProductpresence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteProductsGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Product_Loop</targetReference>
            </connector>
            <label>QuoteProductpresence</label>
        </rules>
    </decisions>
    <interviewLabel>Update Compensation Uplift V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Compensation Uplift V2</label>
    <loops>
        <name>Quote_Product_Loop</name>
        <label>Quote Product Loop</label>
        <locationX>410</locationX>
        <locationY>204</locationY>
        <assignNextValueToReference>QuoteProductObj</assignNextValueToReference>
        <collectionReference>QuoteProductsGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculate_uplift_compensation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Products</name>
        <label>Get Quote Products</label>
        <locationX>406</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Product_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Quoteproductpresennce</targetReference>
        </faultConnector>
        <filters>
            <field>BigMachines__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Play_Offer_Uplift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BigMachines__Quote_Product__c</object>
        <outputReference>QuoteProductsGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BigMachines__Total_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>407</locationX>
        <locationY>369</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Uplift__c</field>
            <value>
                <elementReference>Totaluplift</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Quote_Products</startElementReference>
    <status>Draft</status>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteProductObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BigMachines__Quote_Product__c</objectType>
    </variables>
    <variables>
        <name>QuoteProductsGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BigMachines__Quote_Product__c</objectType>
    </variables>
    <variables>
        <name>Totaluplift</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
