flows/UpdateProductElgibilityCertificates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Append_with</name>
        <label>Append with |</label>
        <locationX>640</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>concatName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>certificateRecord.Certification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thorugh_Certificates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AppendNames</name>
        <label>AppendNames</label>
        <locationX>149</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>concatName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>certificateRecord.Certification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thorugh_Certificates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifconcatEmpty</name>
        <label>ifconcatEmpty</label>
        <locationX>379</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Append_with</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>concatName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AppendNames</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateProductElgibilityCertificates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateProductElgibilityCertificates</label>
    <loops>
        <name>Loop_Thorugh_Certificates</name>
        <label>Loop Thorugh Certificates</label>
        <locationX>392</locationX>
        <locationY>301</locationY>
        <assignNextValueToReference>certificateRecord</assignNextValueToReference>
        <collectionReference>lstCertificates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ifconcatEmpty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateChildNameinParent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindCertifications</name>
        <label>FindCertifications</label>
        <locationX>351</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thorugh_Certificates</targetReference>
        </connector>
        <filters>
            <field>Product_Eligibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>LMS_Product_Certifications__c</object>
        <outputReference>lstCertificates</outputReference>
        <queriedFields>Certification__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateChildNameinParent</name>
        <label>updateChildNameinParent</label>
        <locationX>750</locationX>
        <locationY>201</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificates__c</field>
            <value>
                <elementReference>concatName</elementReference>
            </value>
        </inputAssignments>
        <object>LMS_Product_Eligibility__c</object>
    </recordUpdates>
    <startElementReference>FindCertifications</startElementReference>
    <status>Draft</status>
    <variables>
        <name>certificateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LMS_Product_Certifications__c</objectType>
    </variables>
    <variables>
        <name>concatName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstCertificates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LMS_Product_Certifications__c</objectType>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
